*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--light);
}
.header-top {
  height: 35px;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  padding: 0px 15px 6px 15px;
  justify-content: space-between;
  align-items: flex-end;
}

.header-top__lang button {
  background-color: transparent;
  border: none;
  color: var(--light);
  font-size: calc(9px + .7vw);
  opacity: .8;
}

.header-top__lang .current {
  font-weight: 700;
  opacity: 1;
}

.header-top__tel a {
  color: var(--light);
  text-decoration: none;
  font-size: calc(9px + .7vw);
}


@media screen and (min-width: 789px) {
  .header-top {
    height: auto;

    padding: 5px 129px 5px 129px;
    align-items: center;
  }
}


body {
  margin: 0px;
  padding: 0px;
  color: white;
}
.onMenu {
  overflow: hidden;

}
@media (min-width:789px) {
  .onMenu {
    padding-right: 20px;
  }
} 
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--green);
}
.nav-search {
  margin-right: 13px;
  transition: .2s;
  cursor: pointer;
}
.nav-cart {
  margin-right: 13px;
}
.svg-onclick {
  fill:dimgray;
}
.nav-searchCart button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}
.nav-searchCart button:hover svg path{
  fill:#FAF4CF;
  transition:.2s;
}

.above-overlay {
  z-index: 10001;
}

nav a>img {
  height: calc(50px + 2.5vw);
  margin-left: 13px;
}

nav .nav-links {
  display: none;
  list-style: none;
}

nav .nav-links li a {
  margin: 0 15px 0 15px;
  text-decoration: none;
  color: var(--light);
  font-size: calc(14px + .7vw);
}

nav .nav-links li a:hover {
  color:#FAF4CF;
  transition:.2s;
}

nav .nav-links span {
  font-size:40px;
  color: var(--d-green);
}
.fixed {
  position:fixed!important;
}
@media screen and (min-width: 789px) {
  nav {
    padding: 0 30px 0 30px;
  }

  nav .menu-burger {
    display: none;
  }

  nav .nav-links {
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.menu-burger {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 44px;
  height: 38px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  right: 50px;
  background-color: var(--orange);
  padding: 7px;
  box-sizing: border-box;
  transition: .2s;
}
.menuburger:hover {
  background-color: #F9C06B;
  transition:.2s;
}

.bar,
.bar:after,
.bar:before {
  height: 3px;
  background: var(--light);
}

.bar:before {
  width: 30px;
}

.bar {
  width: 30px;
}

.bar:after {
  width: 30px;
}

.bar {
  position: relative;
  transform: translateY(10px);
  transition: all 0ms 300ms;
}

.bar.animate {
  width: 30px;
  background: rgba(255, 255, 255, 0);
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  background-color: var(--light);
  width: 30px;
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  background-color: var(--light);
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}


/*overlay*/

.overlay {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  overflow: auto;
  z-index: 10000;
  background: white;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  left:0;
}
.overlay a {
  text-decoration: none;
}
.overlay .menu-options-list {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  padding: 0;
  margin: 24vh 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.overlay .menu-option {
  display: block;
  width: 100vw;
  margin: 10px 0 0 0;
  padding-bottom: 10px;
}

.overlay .menu-option:hover {
  background-color: var(--green);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.overlay .menu-option a {
  color: dimgrey;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
}

.overlay .menu-option:hover a {
  color: white;
}

.overlay .menu-option a span {
  font-weight: 700;
  color: var(--orange);
  font-size: 50px;
  transform: translateY(20px);
}

@-webkit-keyframes slideDownIn {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-moz-keyframes slideDownIn {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-o-keyframes slideDownIn {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideDownIn {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slideDownIn {
  -webkit-animation: slideDownIn 1s;
  /* Safari 4+ */
  -moz-animation: slideDownIn 1s;
  /* Fx 5+ */
  -o-animation: slideDownIn 1s;
  /* Opera 12+ */
  animation: slideDownIn 1s;
  /* IE 10+, Fx 29+ */
}

.footer__inner {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: var(--dark);
}
.footer__inner div h4{
  text-align: center;
  font-size: calc(10px + .7vw);
}
.footer__inner div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-bottom: 25px;
}
.footer__inner div ul li {
  margin: 5px;
}
.footer__inner div ul li a {
  color:var(--light);
  opacity: .7;
  text-decoration: none;
  font-size: calc(8px + .7vw);
}
.footer__inner h3 {
  font-size: calc(10px + .7vw);
  text-align: center;
}
.footer__inner .footer__market ul {
  list-style: none;

}
.menu-options-list li:nth-child(1) {
  position: relative;
}
.icon__presearch{
  position: absolute;
  color:black;
  top: -2px;
  height: 59px;
  width: 59px;
  left: 20vw;
  transform: translate(-50%);
  font-size: 20px;
  background: url(../Sources/icon-search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  border: none;
  outline: none;
  cursor: pointer;
}
.overlay__input-search {
  position: relative;
  padding: 5px calc(5px + 1vw) 5px calc(20px + 5vw);
  border-radius:5px;
  background-color: var(--d-green);
  color: var(--light);
  font-size: 30px;
  border: none;
  width: 60vw;
  outline: none;
}
input[type="search"]::-webkit-input-placeholder {
  color: var(--light);
 } 
 input[type="search"]::-moz-placeholder {
  color: var(--light);
 }
 input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: url(../Sources/icon-delete.svg);
  background-repeat:no-repeat;
  background-size: contain;
}
/* end of template */
.heading-inner {
  background: url(../Sources/store-photo-light.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items:center;
  background-position:left;
}
.heading-inner h1 {
  font-size:calc(26px + .7vw);
  color: var(--green);
  padding: 5vw ;

}

.market {
  display: flex;
  flex-direction: column;
}
.market aside {
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100vw;
  padding: 20px 0;
}
.breadcrumbs {
  color: var(--green);
}
.filter__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.filter__enabler {
  padding: 5px 10px;
  font-size: calc(10px + .7vw);
  background-color:var(--d-green);
  color:var(--light);
  border-radius:5px;
  border: none;
  margin-bottom: 20px;
  min-width: 145px;
}
.sorts__enabler {
  padding: 5px 10px;
  font-size: calc(10px + .7vw);
  background-color:var(--d-green);
  color:var(--light);
  border-radius:5px;
  border: none;
  width: 70%;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}
.price__enabler {
  padding: 5px 10px;
  font-size: calc(10px + .7vw);
  background-color:var(--d-green);
  color:var(--light);
  border-radius:5px;
  border: none;
  width: 70%;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}
.option__checkbox {
  display:none;
}
.market__option input[type=checkbox]:checked + label{
  transition: .2s;
  color: black;
  background: var(--d-green);
  color: var(--light);
  transform: translateX(0);
}
.market__option input[type=checkbox]:checked + label::after {
  content:'';
  position: absolute;
  width: 15px;
  top: 50%;
  transform:translateY(-50%);
  height: 15px;
  right: 10px;
  background: url(../Sources/icon-delete.svg);
  background-repeat: no-repeat;
  background-size: contain;

  font-size: calc(10px + 1vw);
}
.market__optionlist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  transition: .2s;
/*   margin-left: 25px; */
}
.check__label {
  font-size: calc(8px + .7vw);
  border-radius:5px;
  padding: 5px 40px 5px 10px;
  position:relative;
  text-align: center;
  transform: translateX(10px);
}
.market__option {
  margin-bottom: 13px;
  position: relative;
/*   padding-right:50px;
  padding-left: 50px; */
  display: flex;
  justify-content: center;
  align-items:center
}
aside {
  transition: .2s;
}
.market__dropdownicon {
  transition: .2s;
  margin-bottom:2px;
  margin-left: 5px;
  transform: rotate(180deg);
  animation: rotationlist .2s ease-in-out forwards;
}
.market__dropdownicon2 {
  position: absolute;
  right: 15px;
  top: 35%;
  margin-bottom:2px;
  transition: .2s;
  transform: rotate(180deg);
  animation: rotationlistback .2s ease-in-out forwards;
}
.market__dropdownicon3 {
  position: absolute;
  right: 15px;
  top: 35%;
  margin-bottom:2px;
  transition: .2s;
  transform: rotate(180deg);
  animation: rotationlistback .2s ease-in-out forwards;
}
.price__enabler-input {
  font-size: calc(10px + .7vw);
}
.market__dropdownicon-animated {
  animation: rotationlist .2s ease-in-out forwards!important;
}
.market__dropdownicon-animated-back {
  animation: rotationlistback .2s ease-in-out forwards;
}
.price__input_fromto  {
  display: flex;
  flex-direction: column;
}
.filter__apply {
  padding: 5px 10px;
  background-color: var(--orange);
  color: var(--light);
  border-radius:5px;
  font-size: calc(10px + .7vw);
  border:none;
}
.price__input_fromto input {
  padding: 5px 10px;
  background-color: var(--d-green);
  border-radius:5px;
  color: var(--light);
  border:none;
  margin-bottom:20px;
}
@keyframes rotationlist {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes rotationlistback {
  10%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0);
  }
}
.market {
  display: flex;
  flex-direction:column;
}
@media screen and (min-width:1030px) {
  .market {
    flex-direction: row;
  }
  .market aside {
    width: 20vw;
  }
  .sorts__enabler {
    width:90%;
    padding: 5px 10px;
  }
  .market__cards {
    width: 85%;
  }
  .price__enabler {
    width:90%;
  }
  .price__input_fromto input {
    width:80%;
    margin: 0 auto 20px;
  }
}
@media screen and (min-width:1130px) {
  .market aside {
    padding: 20px;
  }  
} 

@media screen and (min-width:1667px) {
  .market aside {
    width: 15vw;
    padding: 20px;
  }
}
::-webkit-input-placeholder {
color: var(--light);
}
::-moz-placeholder {
  color: var(--light);
}

.market__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items:center;
  list-style: none;
}
.card__weight--extended {
  display: none;
} 
.card__weight {
  margin: 10px 0;
  position: relative;
  min-height: 43.2px;
} 
.market__cards .card {
  border-radius:5px;
  -webkit-box-shadow: 0px 10px 40px -8px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 10px 40px -8px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 10px 40px -8px rgba(34, 60, 80, 0.2);
  padding: 20px;
  margin:20px auto;
  transition: .2s;
}
.market__cards .card:hover {
  transform: translateZ(10px) scale(1.1);
  -webkit-box-shadow: 0px 4px 40px -8px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 40px -8px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 40px -8px rgba(34, 60, 80, 0.2);
}
@media screen and (min-width:789px) {
  .market__cards {
    padding: 20px;
  }

  .heading-inner {
    justify-content: left;  
  }
  .heading-inner h1 {
    padding-left: 7vw;
  }
  .footer__inner {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer__inner h3 {
    order: 1;
  }
  .footer__inner div {
    order: 2;
  }
  .footer__inner div h4 {
    text-align: left;
  }
  .footer__inner div ul {
    justify-content:start;
    align-items:start;
  }
  .footer__inner div ul li {
    margin-left: 0;
  }
}
.market__cards .card .card__weight label{
  color:var(--green);
  opacity: .5;
  margin-right: 15px;
} 
.market__cards .card .card__weight input {
  display: none;
}
.card__weight input[type=radio]:checked + label{
  transition: .2s;
  opacity: 1;
  text-decoration: underline;
}
.card {
  font-size: 1rem;
  width: calc(211px + 4vw);
  min-width: 170px;

}
.card a h4 {
  text-align: center;
  color: var(--green);
  margin-bottom: 10px;
  font-weight: 300;
  word-break: keep-all;
}
.card a:focus {
  outline:none;
  box-shadow: none;
}
.card a {
  text-decoration: none;
}
.weight__extender {
  transition: .2s;
  transform: rotate(180deg);
  animation: rotationlistback .2s ease-in-out forwards;
  position: absolute;
  right: 0px;
  top: 7px;
}
.card__bottom {
  color:var(--green);
  display:flex;
  position: relative;
  justify-content: space-between;
}
.card__addtocart {
  padding: 3px 9px;
  border:none;
  border-radius:5px;
  background-color:var(--green);
  color:var(--light);
  transition: .2s;
}
.card__qnt {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin: 10px 0px 20px;

}
.card__decrease {
  width: 30px;
  height: 30px;
  border:none;
  border-radius:5px;
  background-color:var(--green);
  color:var(--light);
  font-size: 20px;
  position: relative;
}
.card__decrease::before {
  content:"";
  width: 15px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  border-radius:5px;
}
.increase {
  width: 30px;
  height: 30px;
  border:none;
  border-radius:5px;
  background-color:var(--green);
  color:var(--light);
  font-size: 20px;
  position: relative;
}
.increase::before {
  content:"";
  width: 15px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  border-radius:5px;
}
.increase::after {
  content:"";
  width: 2px;
  height: 15px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius:5px;
}
.card__qnnt__input {
  width:40%;
  height: 30px;
  border: none;
  background-color:#2f6b7527;
  border-radius: 5px;
  color: var(--green);
  padding:2px 10px 6px;
  font-size: 18px;
}
.card__link {
  display:flex;
  flex-direction: column; 
  align-items:center;
}
.card a img {
  width: 60%;;
  padding: 10px;
}
.card__price {
  font-size: 24px;
} 
.card__old__price {
  opacity: .5;
  text-decoration:line-through;
  position: absolute;
  top: -10px;
  left: 0;
}
.card__addtocart__text::after {
  content:'у';

}
.card__addtocart__active .card__addtocart__text::after {
  content:'е';
} 

.card__addtocart__active {
  background-color: var(--orange);
  transition: .2s;
}
.card__addtocart:hover {
  background-color: rgb(95, 161, 202);

}
main :focus  {
  outline: none;
  box-shadow: 0 0 0 5px var(--d-green);
}

.increase:hover,
.card__decrease:hover {
background-color: var(--orange);
transition: .2s;
}
.card__link a:focus,
.card__link h4:focus {
  outline:none;
}
.overlay__input-search:focus{ 
  box-shadow: none;
}
.nav-cart:focus,
.nav-search:focus{
  box-shadow: none;
}
.icon__presearch:focus{
  box-shadow: none;
}
aside :focus {
  box-shadow: none; 
}